{% load static %}
<link rel="stylesheet" href="{% static 'polls/style.css' %}">

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}TITRE{% endblock %}</title>
</head>
<body>
    <nav>

    </nav>
    <header>
        {% if user.is_authenticated %}
            <p>Bienvenue, {{ user.username }} !</p>
            <a href="{% url 'polls:logout' %}">Se déconnecter</a>
        {% else %}
            <a href="{% url 'polls:login' %}">Se connecter</a>
        {% endif %}
    </header>
    <main>
        {% block main %}
        MAIN
        {% endblock %}
    </main>
</body>
</html>
